<h1>IQFact Repository</h1>

<br>
<br>

<%= link_to "New unit", new_unit_path, class:"btn btn-primary" %>


<%= link_to "Run Test", tests_path, method: :post, class: "btn btn-primary" %>
<%= link_to "Create Test", new_test_tests_path, method: :post, class:"btn btn-primary" %>