<h1>IQFact Repository</h1>

<br>
<br>

<%= link_to "New unit", new_unit_path, class:"btn btn-primary" %>

<br>
<br>

<div class="d-inline-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</div>