/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .unit-container {
    display: flex;
    flex-direction: row; /* Set to 'row' for left alignment */
    align-items: center;
  }
  
  .unit-checkbox {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin-left: 10px; /* Add some spacing between the content and checkbox */
  }
  
  .btn {
    margin-left: 10px; /* Add some spacing between the "Show this unit" button and checkbox */
  }
  
  .unit-divider {
    border-top: 1px solid #ccc; /* Define the style of the divider */
    height: 100%; /* Ensure the divider spans the entire height of the container */
    margin: 0 10px; /* Adjust the margin to control the space on the sides of the divider */
  }